@font-face {
    font-family: Poppins;
    src: url("/font/Poppins-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

.navbar {
    width: 100%;
    height: 5rem;
    display: grid;
    grid-template-areas: "brand menu download";
    padding: 1rem;
    justify-items: center;
    align-items: center;
}

.brand {
    grid-area: brand;
}

.menu {
    grid-area: menu;
}

.download {
    grid-area: download;
}


/* .rotate-right {
    transition: transform .5s ease-in-out;
    transform: rotate(45deg) translateX(6px) translateY(5px);
}

.rotate-left {
    transition: transform .5s ease-in-out;
    transform: rotate(-45deg) translateX(6px) translateY(-5px);
} */