@font-face {
    font-family: Poppins;
    src: url("../font/Poppins-Regular.ttf");
}

@font-face {
    font-family: Poppins Bold;
    src: url("../font/Poppins-Bold.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
    overflow: hidden;
    text-wrap: nowrap;
    /* border: 1px solid red; */
}

a {
    text-decoration: none;
}

.hide {
    display: none !important;
}

.active {
    background-color: #ff5b00;
    color: #ffffff !important;
    padding: .5rem 0rem .5rem 3rem !important;
}

/* .nav-link-mobile {
    margin-right: .25rem !important;
    padding: .5rem 0rem .5rem 1.25rem !important;
}

.nav-link-mobile:hover {
    padding: .5rem 0rem .5rem 1.25rem !important;
}

.menu-button-mobile {
    margin: 3px .5rem 3px 1.5rem !important;
}

.active-mobile {
    padding: .5rem 0rem .5rem 1.25rem !important;
}

.sidenav-close {
    width: 4rem !important;
}

.expand {
    margin-left: 6rem !important;
} */

.sidenav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 15rem;
    height: 100vh;
    box-shadow: 0px 0px 10px grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: width .25s ease-in-out;
}

.sidenav-brand {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
}

.sidenav-brand-image {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
}

.sidenav-brand > .sidenav-brand-image > img {
    width: 1rem;
    margin-right: .5rem;
}

.menu-button > * {
    width: 16px;
    height: 3px;
    background-color: #ff5b00;
    margin: 3px 1rem 3px 2rem;
    border-radius: 2px;
    transition: transform .2s ease-in-out;
}

.menu-link {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.nav-link {
    display: flex;
    align-items: center;
    margin-bottom: .25rem;
    margin-right: 1rem;
    padding: .5rem 0rem .5rem 2rem;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    color: #000000;
    transition: background-color .25s ease-in-out, color .25s ease-in-out, padding .25s ease-in-out;
}

.nav-link:hover {
    background-color: #ff5b00;
    color: #ffffff;
    padding: .5rem 0rem .5rem 3rem;
}

.icon-link {
    font-size: 25px;
    margin-right: .5rem;
}

.settings-button {
    position: absolute;
    bottom: 1rem;
    left: 0;
}

.container {
    margin-left: 17rem;
    margin-top: 1rem;
    width: 100%;
    transition: margin-left .25s ease-in-out;
}

@media only screen and (max-width: 768px) {
    .sidenav {
        width: 4rem;
    }

    .sidenav-brand-image {
        display: none;
    }

    .menu-button > * {
        margin: 3px .5rem 3px 1.5rem;
    }

    .active {
        padding: .5rem 0rem .5rem 1.25rem !important;
    }

    .nav-link {
        margin-right: .25rem !important;
        padding: .5rem 0rem .5rem 1.25rem !important;
    }

    .nav-link:hover {
        padding: .5rem 0rem .5rem 1.25rem !important;
    }

    .nav-title {
        display: none;
    }

    .container {
        margin-left: 6rem;
    }
}