@font-face {
    font-family: Poppins;
    src: url("../font/Poppins-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
    /* border: 1px solid red; */
}

body {
    height: 5000px;
}

::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
}

.hide {
    display: none !important;
}

.rotate-right {
    background-color: #ff5b00 !important;
    transition: transform .2s ease-in-out;
    transform: rotate(45deg) translateX(3px) translateY(2px);
}

.rotate-left {
    background-color: #ff5b00 !important;
    transition: transform .2s ease-in-out;
    transform: rotate(-45deg) translateX(3px) translateY(-2px);
}

.active {
    border-bottom: 2px solid #ffffff;
    font-weight: 900;
}

.navbar {
    width: 100%;
    height: 5rem;
    position: fixed;
    top: 0;
    display: grid;
    grid-template-areas: "brand menu download";
    padding: 1rem 2rem 1rem 2rem;
}

.brand {
    grid-area: brand;
    display: flex;
    justify-content: start;
    align-items: center;
}

.brand-logo {
    width: 1.5rem;
}

.menu {
    grid-area: menu;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-button {
    display: none;
}

.menu-button > * {
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    margin: 3px 0 3px 0;
    border-radius: 2px;
    transition: transform .2s ease-in-out;
}

.menu-link {
    display: inline-block;
}

.nav-link {
    margin: 0rem 1rem 0rem 1rem;
    color: #ffffff;
}

.nav-link:hover {
    font-weight: 900;
}

.download {
    grid-area: download;
    display: flex;
    justify-content: end;
    align-items: center;
}

.download-button {
    background-color: #ffffff;
    padding: .5rem 1rem .5rem 1rem;
    border-radius: 2rem;
    color: #ff5b00;
    border: 1px solid #ffffff;
    transition: background-color .25s ease-in-out;
}

.download-button-colored {
    background-color: #ff5b00 !important;
    padding: .5rem 1rem .5rem 1rem;
    border-radius: 2rem;
    color: #ffffff !important;
    border: 1px solid #ff5b00 !important;
    transition: background-color .25s ease-in-out;
}

.download-button::after {
    content: " Download";
}

.download-button:hover {
    background-color: transparent;
    border: 1px solid #ffffff;
    color: white;
}

.download-button-colored:hover {
    background-color: transparent !important;
    border: 1px solid #ff5b00 !important;
    color: #ff5b00 !important;
}

.header {
    width: 100%;
    height: 100vh;
    background-color: #ff5b00;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header-title {
    width: 40%;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.header-title > h1 {
    font-size: 40px;
    font-weight: 900;
}

.header-download-button {
    margin-top: 2rem;
}

.header-image > img {
    height: 30rem;
}

@media only screen and (max-width: 768px) {
    p, span, a {
        font-size: 14px;
    }

    .active {
        border-bottom: none;
    }

    .navbar {
        grid-template-areas: "menu brand download";
        grid-template-columns: 1fr 1fr 1fr;
    }

    .download-button::after {
        content: "";
    }

    .header-download-button::after {
        content: " Download" !important;
    }

    .menu-button {
        display: inline-block;
        position: fixed;
        z-index: 999;
    }

    .nav-link {
        padding: 1rem 0 1rem 0;
        color: #ff5b00 !important;
        border-radius: 10px;
        transition: padding .25s ease-in-out, background-color .25s ease-in-out;
        border: none !important;
    }

    .nav-link:hover {
        border-bottom: none;
        background-color: #ff5b00;
        color: #ffffff !important;
        padding: 1rem !important;
        border-radius: 10px;
    }

    .menu-link {
        width: 50%;
        height: 100vh;
        position: fixed;
        left: 0;
        top: 0;
        background-color: white;
        display: flex;
        flex-direction: column;
        padding: 5rem 1rem 2rem 1rem;
    }

    .brand {
        justify-content: center;
    }
    
    .menu {
        justify-content: start;
    }
    
    .download {
        justify-content: end;
    }

    .header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header-title {
        width: 80%;
        margin-bottom: 2rem;
    }

    .header-title > h1 {
        font-size: 30px;
    }

    .header-image > img {
        margin-bottom: -15rem;
    }
}