@font-face {
    font-family: Poppins;
    src: url("../font/Poppins-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
    /* border: 1px solid red; */
}

a {
    text-decoration: none;
}

.hide {
    display: none !important;
}

.login-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}

.form {
    width: 60%;
}

.image {
    height: 100%;
    background-color: #ff5b00;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image > img {
    width: 8rem;
}

.login-page {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}

.login-image > img {
    width: 4rem;
}

.login-image > h2 {
    margin-top: .5rem;
}

.nomor-induk,
.password {
    margin-top: .5rem;
}

.input-password {
    position: relative;
}

#nomor-induk,
#password {
    width: 100%;
    padding: .5rem;
    border: 1px solid #000000;
    border-radius: 5px;
    outline: none;
}

.ph-eye-slash {
    position: absolute;
    top: 50%;
    right: .5rem;
    transform: translateY(-50%);
    cursor: pointer;
}

.ph-eye {
    position: absolute;
    top: 50%;
    right: .5rem;
    transform: translateY(-50%);
    cursor: pointer;
}

#show {
    width: 1rem;
    height: 1rem;
    opacity: 0%;
    position: absolute;
    top: 50%;
    right: .5rem;
    transform: translateY(-50%);
    cursor: pointer;
}

.submit-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-button {
    margin-top: 5rem;
    width: 100%;
    padding: .5rem;
    border-radius: 5px;
    background-color: #ff5b00;
    color: #ffffff;
    border: 1px solid #ff5b00;
    transition: background-color .25s ease-in-out, color .25s ease-in-out;
}

.login-button:hover {
    background-color: transparent;
    color: #ff5b00;
}

.back-button {
    position: absolute;
    top: 1rem;
    left: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: .5rem;
    width: 2rem;
    height: 2rem;
    padding: 1rem;
    border-radius: 100%;
    background-color: #ffffff;
    color: #ff5b00;
    border: 1px solid #ffffff;
    transition: background-color .25s ease-in-out, color .25s ease-in-out;
}

.back-button:hover {
    background-color: transparent;
    color: #ffffff;
}

.remember-me {
    display: flex;
    align-items: center;
    margin-top: .25rem;
}

.remember-me > label {
    font-size: 14px;
    margin-left: .25rem;
}

#remember-me {
    accent-color: #ff5b00;
}

@media only screen and (max-width: 768px) {
    a, span, p {
        font-size: 14px;
    }
    
    .login-container {
        grid-template-columns: 1fr;
    }

    .image {
        display: none;
    }

    .form {
        width: 80%;
    }

    .back-button {
        background-color: #ff5b00;
        color: #ffffff;
        border: 1px solid #ff5b00;
    }

    .back-button:hover {
        background-color: transparent;
        color: #ff5b00;
    }
}